/*font*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;700&display=swap');

@import "reset.css";
@import "variables.css";

/*component*/
@import "./components/status-bar.css";
@import "./components/nav-bar.css";

/*Screens*/
@import "./screens/login.css";

body {
    font-family:  'Prompt', sans-serif;
} 

/* .body-border {
    border: 5px solid darkturquoise;
    height: 100vh;
}

.playlist-header {
    margin-top: 70px ;
    margin-left: 30px;
    display: flex;
    justify-content: left ;
}

.playlist-header__column:first-child i {
    display: flex;
    align-content: center;
}

.playlist-header__column:nth-child(2) span {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    align-content: center;
} */
