.nav {
    background-color: #f9f9fa;
    padding: 20px 40px;
    bottom:0;
    position:fixed;
    width: 100%;
    box-sizing:border-box; 
    border-top:1px solid rgba(121,121,121,0.2);
}
/* box-sizing:border-box*/
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    position: relative;
}
.nav__notification {
    background-color: #F15E42;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom:10px;
    color:white;
}
